<!-- {% load static %} -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Smart Agriculture</title>

    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />

    <!--FontAwesome for icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>

  <body>
    <!-- HEADER -->
    {% include "header.html" %}

    <!-- MAIN CONTENT -->
    <section class="section">
      <div class="container">
        {% block content %}
        <!-- Page content will come here -->
        {% endblock %}
      </div>
    </section>

    <!-- FOOTER -->
    {% include "footer.html" %}
  </body>
</html>
